body{
/* 	background:url(../images/backgrounds/tileable_wood_texture.jpg) repeat; */
	background:url(../images/backgrounds/unsplash-wood-1440.jpg?=new) repeat-y center center; 
  background-size: 100%;
  background-position-y:-80px;
	
/*
	background:url(../images/backgrounds/photo.jpg) repeat;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment:fixed;

/*     background-color:#f5f2ef; */
    background-color:#fff;
	line-height:180%;
	margin-top: 10px;
	}


/*
.bg {
	background:url(../images/backgrounds/tileable_wood_texture.jpg) repeat;
	position: fixed;
	margin-top:-80px;
	width: 100%;
	height: 400%;
	top:0;
	left:0;
	z-index: -1;
}
*/


#top{
	position:absolute; top:-99px;
}


section {
  color: #fff;
  font-family: arial;
  width: 500px;
  margin: auto;
  line-height: 20px;
  font-size: 16px;
}


h1,h2,h3,h4,h5,h6{
}

a,
a:hover {
	text-decoration: none;
	border-bottom:0px hidden #cfcfcf; 
}


.container {
	padding-top:25px;
	background-color:transparent;
}


#nav {
	padding-bottom:-10px!important;
	margin-bottom:14px;
	text-align:center;
	font-style:italic;
		font-family: 'Source Code Pro', !important;

}
	
#nav ul li {
	display:inline-block;
	margin-bottom: 0px;

}

#kalendern{
		margin-top: 8px;
		margin-bottom: 14px;
}
ul, ol {
margin-bottom: 0px;
}

#nav ul li {
	/*background:#F0C;*/
	width:32px!important;
	max-height:52px!important;
	text-align:center!important;
	vertical-align:top!important;
	margin: 0px 0px -8px 0px!important;
	line-height:45px;

}


#nav a {
	text-align:center!important;
	text-decoration: none!important;
	border-bottom: 0px hidden transparent;
	color:#333;
	display:inline-block;
    width:26px!important;
    height:26px!important;
    border-radius:13px;
    font-size:14px;
    line-height:26px;
    background:#efefef;
    
    
    -webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-ms-transition: all 0.12s ease-in-out;
}
 
 
#nav a:hover {
	text-decoration: none!important;
	border-bottom: 0px hidden transparent;
	color:#fff;
    width:33px!important;
    height:33px!important;
    border-radius:16px;
    font-size:14px;
    line-height:32px;
    background:transparent;
	font-weight:bold;
	
-webkit-box-shadow: inset 0px 0px 0px 2px #fff;
-moz-box-shadow: inset 0px 0px 0px 2px #fff;
box-shadow: inset 0px 0px 0px 2px #fff;
}


#mainnav {
	line-height:40px;
}
 
#mainnav ul li {
	display: inline;
	margin: 0 7px 0 7px;
	margin-bottom: 12px;
}
 
#mainnav a {
	text-decoration: none!important;
	border-bottom: 0px hidden transparent;
	color:#dfdfdf;
}
 
#mainnav .link a:hover {
	text-decoration: underline;
	border-bottom: 1px solid #cfcfcf;

}

#mainnav .link a:active {
	text-decoration: underline;
	border-bottom: 1px solid #cfcfcf;
}


.feature-image {
	position: relative;	
}
.feature-image img {
	max-width: 100%;
	width:100%;
	height: auto;
	margin-bottom:-8px;
}

	
.anfang:first-letter {
 font-size : 50px;
 float : left;
 padding-top:13px;
}


.footer{
	margin-top:28px;
	padding-bottom:22px;
}
.footer a{
	text-align:center;
	text-decoration:none
}

.bold{
	font-weight:bold;
}

.italic{
	font-style:italic;
}

.center{
	text-align:center;
}

.sup{
	vertical-align: baseline;
	font-size: 0.8em;
	position: relative;
	top: -0.4em;
}


.bg-color{
	background-color: aqua;
}

.album-number{
	position:absolute;
	text-shadow: 0px 2px 17px #0f0f0f;
	text-align:center;
	top: 42%;
	width: 100%;
	font-size:50px;
/* 	opacity:0.62; */
	color:#fcfcfc;
	font-family: 'Roboto', sans-serif;
	-webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-ms-transition: all 0.12s ease-in-out;
	cursor: default;
}

.album-number-active{
	position:absolute;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
	text-align:center;
	top:42%;
	width: 100%;
	font-size:50px;
/* 	opacity:0.62; */
	color:#fcfcfc;
	font-family: 'Roboto', sans-serif;
	-webkit-transition: all 0.22s ease-in-out;
	-moz-transition: all 0.22s ease-in-out;
	-o-transition: all 0.22s ease-in-out;
	-ms-transition: all 0.22s ease-in-out;
	opacity: 1.0;
	z-index: 999;
	color:#fff;

}




.album-number-active:hover,
.album-cover:hover + .album-number-active {


	transform:         scale(0.0); 
	-moz-transform:    scale(0.0); 
	-webkit-transform: scale(0.0); 
	-o-transform:      scale(0.0); 
	-ms-transform:     scale(0.0); 
	
	transform-origin:center;

 
 	opacity:0.0;
	-webkit-transition: all 0.08s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-ms-transition: all 0.12s ease-in-out;

}



.album-margin{
	margin-bottom:20px!important;

}


/********** Specific styles for Ljudkalendern **********/


.album-shadow {
   -moz-box-shadow:    inset 0 0 20px #232323;
   -webkit-box-shadow: inset 0 0 20px #232323;
   box-shadow:         inset 0 0 20px #232323;
   }


/* fade in on hover of album */
.fade img{
/*    opacity: 0.8; */

   	filter: brightness(0.91);
	/* 	Browser Specific */
	-webkit-filter: brightness(0.91);
	-moz-filter: brightness(0.91);
	-o-filter: brightness(0.91);
	-ms-filter: brightness(0.91);
	
	
	-webkit-transition: all 0.22s ease-in-out;
	-moz-transition: all 0.22s ease-in-out;
	-o-transition: all 0.22s ease-in-out;
	-ms-transition: all 0.22s ease-in-out;
	
   }

   .fade:hover img{
    opacity: 1;
      
   	filter: brightness(1.2);
	/* 	Browser Specific */
	-webkit-filter: brightness(1.2);
	-moz-filter: brightness(1.2);
	-o-filter: brightness(1.2);
	-ms-filter: brightness(1.2);
	
     }
	
	
	
	
	
	
	  
.nav-fade li {
   /*background: #fcfcfc;
   padding: 2px 4px;
   display: inline-block;*/
   transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
   }

	.nav-fade li a{
		color:#cfcfcf;
	   }

   .nav-fade li:hover {
      /*background: #0dd;*/
	  text-decoration:none;
      }
	  

	  
/* hide vertical text (div) slides on load*/	  
#first,
#second,
#third{
	display:none;
}

.slidemenustyle{
	background-color:#C93;
	padding-top:4px;
	padding-bottom:6px;
	margin-bottom:16px!important;
	background-image:url(../images/backgrounds/wovensacktile.jpg);
    -moz-box-shadow:    inset 0 0 12px #000000;
    -webkit-box-shadow: inset 0 0 12px #000000;
    box-shadow:         inset 0 0 12px #000000;
	}
.slidemenustyle,
.slidemenustyle h4,h3{
	color:#dfdfdf;
}



/*******************/
	
.nobreak {
     display: inline;
}


/* Special styles for music (Spotify) links */
/* !!Fix underline color!! */
.link-playlist{
	color:#dfdfdc!important;
	text-decoration:none!important;	
	white-space: nowrap;
}
.link-playlist img{
	margin-bottom:-3px;
	padding-right:3px;
	position:relative;
}
.link-playlist a{
	color:#7cc011!important;
	text-decoration:none!important;	
	border-bottom: 0px solid #dfdfdc;
}
.link-playlist a:hover{
	color:#72b00f!important;
	text-decoration:none!important;	
	border-bottom: 1px solid #d6d6d6;
}
.link-playlist a:active{
	color:#639a0e!important;
	text-decoration:none!important;	
	border-bottom: 1px solid #d6d6d6;
}
.link-desc{
	font-size:12px;
	font-style:italic;
	line-height:16px; /* inspect */
}

.playlists a{
	font-size:18px; /* inspect */
}


.icon16{
	height: 16px;
	width: 16px;
}



/********** Fade in animation **********/


.container {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari & Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}