body{
/* 	background:url(../images/backgrounds/tileable_wood_texture.jpg) repeat; */
 	background:url(../images/backgrounds/unsplash-wood-1440.jpg?=new);
    background-position: top center; 
    background-repeat: repeat-y;
    background-size: 100%;
    background-color: #000;
    background-position-y: -84px;
}

#top{
	position:absolute; top:-99px;
}

h1,h2,h3,h4,h5,h6{
}

.footer a,
.footer a:visited{
	color:#fff;
}
.footer a:hover{
	color:#eee;
	border-bottom: 1px dotted #cfcfcf;
}

.container {
/* 	padding-top:25px; */
	background-color:transparent;
}

/* !year-menu */
#mainnav {
	line-height:40px;
}
 
#mainnav ul li {
	display: inline;
	margin: 0 7px 0 7px;
	margin-bottom: 12px;
}

#mainnav li a {
		text-decoration: none!important;
		transition: background-color 0.5s ease;
		background-color: transparent;
		color: #dfdfdf;
		padding: 2px 6px 3px 6px;
		border: 1px hidden #fff;
		margin: 1px;
		border-radius: 5px!important;
}

#mainnav li a:hover {
		text-decoration: underline;
		border: 1px solid transparent;
		border-radius: 5px!important;
		color:#222;
		background-color: #fff;
		margin: 0px;

}

#mainnav .link a:active {
		text-decoration: underline;
		border: 1px solid transparent;
		border-radius: 5px!important;
		color:#fff;
		background-color: #3a6ba8;
}


/* !date-menu */
#nav {
	padding-bottom:-10px!important;
	margin-bottom:14px;
	text-align:center;
	font-style:italic;
	font-family: 'Source Code Pro', !important;
}
	
#nav ul li {
	display:inline-block;
	margin-bottom: 0px;
}

#kalendern{
		margin-top: 8px;
		margin-bottom: 14px;
}

ul, ol {
margin-bottom: 0px;
}

#nav ul li {
/* 	background:#F0C; */
	width:32px!important;
	max-height:52px!important;
	text-align:center!important;
	vertical-align:top!important;
	margin: 0px 0px -8px 0px!important;
	line-height:45px;

}

#nav a {
	text-align:center!important;
	text-decoration: none!important;
	border-bottom: 0px hidden transparent;
	color:#333;
	display:inline-block;
    width:26px!important;
    height:26px!important;
    border-radius:13px;
    font-size:14px;
    line-height:26px;
    background:#efefef;
    
    -webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-ms-transition: all 0.12s ease-in-out;
}
 
#nav a:hover {
	text-decoration: none!important;
	border-bottom: 0px hidden transparent;
	color:#fff;
    width:33px!important;
    height:33px!important;
    border-radius:16px;
    font-size:14px;
    line-height:32px;
    background:transparent;
	font-weight:bold;
	
	-webkit-box-shadow: inset 0px 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 0px 2px #fff;
	box-shadow: inset 0px 0px 0px 2px #fff;
}

.feature-image {
	position: relative;	
}
.feature-image img {
	max-width: 100%;
	width:100%;
	height: auto;
	margin-bottom:-8px;
}

/* !album-number */
.album-number{
	position:absolute;
	text-shadow: 0px 2px 17px #0f0f0f;
	text-align:center;
	top: 42%;
	width: 100%;
	font-size:50px;
	color:#fcfcfc;
	font-family: 'Roboto', sans-serif;
	-webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-ms-transition: all 0.12s ease-in-out;
	cursor: default;
	-webkit-user-select: none;
}


.album-number-active{
	position:absolute;
/* 	text-shadow: 0px 2px 17px #0f0f0f; */
	text-shadow: 0px 0px 8px #000;
	text-align:center;
	top: 42%;
	width: 100%;
	font-size:50px;
	color:#fcfcfc;
	font-family: 'Roboto', sans-serif;
	-webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-ms-transition: all 0.12s ease-in-out;
	cursor: default;
	-webkit-user-select: none;
	
	transform:         scale(0.0); 
	-moz-transform:    scale(0.0); 
	-webkit-transform: scale(0.0); 
	-o-transform:      scale(0.0); 
	-ms-transform:     scale(0.0); 
	
	cursor: pointer;
}

/*
.album-number-active:hover,
.album-cover:hover + .album-number-active {
*/
.album-cover-wrap:hover a .album-number-active{


	/* scale album number outfrom center */
	transform:         scale(1.0); 
	-moz-transform:    scale(1.0); 
	-webkit-transform: scale(1.0); 
	-o-transform:      scale(1.0); 
	-ms-transform:     scale(1.0); 
	
	transform-origin:center;

	-webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-ms-transition: all 0.12s ease-in-out;
}

.album-margin{
	margin-bottom:20px!important;
}

.album-shadow {
   -moz-box-shadow:    inset 0 0 20px #232323;
   -webkit-box-shadow: inset 0 0 20px #232323;
   box-shadow:         inset 0 0 20px #232323;
}

.album-cover-wrap{
	overflow: hidden;
	cursor: pointer;
	opacity: 1.0;
	
	/* since backgound-color:transparent; caused opacity flickering,
	   an aimation delay is used to eliminate the problem while still
	   avoiding problems in Safari by using opacity instead of brightness. */
	-webkit-animation: bgdelay 2s forwards; /* Safari 4+ */
	-moz-animation:    bgdelay 2s forwards; /* Fx 5+ */
	-o-animation:      bgdelay 2s forwards; /* Opera 12+ */
	animation:         bgdelay 2s forwards; /* IE 10+, Fx 29+ */
	
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	animation-iteration-count: 1;
	
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

    @-webkit-keyframes bgdelay {
	  0%   { background-color:transparent; }
	  100% { background-color:#000; }
	}
	@-moz-keyframes bgdelay {
	  0%   { background-color:transparent; }
	  100% { background-color:#000; }
	}
	@-o-keyframes bgdelay {
	  0%   { background-color:transparent; }
	  100% { background-color:#000; }
	}
	@keyframes bgdelay {
	  0%   { background-color:transparent; }
	  100% { background-color:#000; }
	}



.album-cover-wrap:hover a .album-cover{
	opacity:0.4!important;
	
/* since safari creates flicker on multiple rapid mouse over,
   opacity in combination with dark background-color achieves the same (functional) effect for now.
	filter: brightness(0.5);
	-webkit-filter: brightness(0.5);
	-moz-filter: brightness(0.5);
	-o-filter: brightness(0.5);
	-ms-filter: brightness(0.5);
*/
	
	transform:         scale(1.1); 
	-moz-transform:    scale(1.1); 
	-webkit-transform: scale(1.1); 
	-o-transform:      scale(1.1); 
	-ms-transform:     scale(1.1); 
}


/* !fade in on album-cover hover */
.album-cover{
	-webkit-transition: all 0.16s ease-in-out;
	-moz-transition: all 0.16s ease-in-out;
	-o-transition: all 0.16s ease-in-out;
	-ms-transition: all 0.16s ease-in-out;	
	
	-webkit-user-select: none;
}




/*** !header with different top-layouts depending on device ***/
/*** NB! USES #id, NOT .class ***/

#logo {
	margin-top: 20px!important;
/* 	visibility: visible; */
	-webkit-user-select: none;
	display: none;

}

#ios-header{
	display: none;
/* 	visibility: collapse; */
	color: #fff;
	padding-top: 28px;
	padding-bottom: 4px;
/* 	background-color: #1c1c1c; */
	background-color: rgba(28,28,28,1.0);
	position: fixed;
	top:-70px;
	left:0px;
	width: 100%;
	z-index: 9000;
	-webkit-user-select: none;
	
}

#ios-header-padding{
/* 	visibility: collapse; */
	display: none;
}
/* !show iOS style menubar on apples mobile devices */
@media only screen and
	/* !iPads (portrait and landscape) */
	(min-device-width : 768px) and (max-device-width : 1024px),
	/* !iPhone 6+ */
	(min-device-width : 414px) and (max-device-width : 736px),
	/* !iPhone 6 */
	(min-device-width : 375px) and (max-device-width : 667px),
	/* !iPhone 5, 5C, 5S, iPod Touch 5g */
	(min-device-width : 320px) and (max-device-width : 568px){
	
		#logo {
			/* visibility: collapse; don't use, hides in-browser on iOS */ 
			display: none;
		}

		#ios-header{
		
			background-color: rgba(28,28,28,1.0)!important;
			visibility: visible;
			-webkit-animation: slide-in-top 2s forwards; /* Safari 4+ */
			-moz-animation:    slide-in-top 2s forwards; /* Fx 5+ */
			-o-animation:      slide-in-top 2s forwards; /* Opera 12+ */
			animation:         slide-in-top 2s forwards; /* IE 10+, Fx 29+ */
			
			-webkit-animation-iteration-count: 1;
			-moz-animation-iteration-count: 1;
			-o-animation-iteration-count: 1;
			animation-iteration-count: 1;
			
			-webkit-animation-delay: 0.5s;
		    -moz-animation-delay: 0.5s;
		    -o-animation-delay: 0.5s;
		    animation-delay: 0.5s;
		}
		
		    @-webkit-keyframes slide-in-top {
			  0%   { top: -70px; }
			  100% { top: 0px; }
			}
			@-moz-keyframes slide-in-top {
			  0%   { top: -70px; }
			  100% { top: 0px; }
			}
			@-o-keyframes slide-in-top {
			  0%   { top: -70px; }
			  100% { top: 0px; }
			}
			@keyframes slide-in-top {
			  0%   { top: -70px; }
			  100% { top: 0px; }
			}

		#ios-header-padding{
			visibility: visible;
			margin-top: 64px;
		}

}

.header a{
	text-align:center;
	text-decoration:none;
}


.header .container .bgc{
/* 	background-color: aqua; */
}

/*** end !header ***/


/******** !footer ***********/
	
.nobreak {
     display: inline;
}

.anfang:first-letter {
	font-size : 50px;
	float : left;
	padding-top:13px;
}

.footer{
	color: #fff;
	margin-top:28px;
	padding-top: 8px;
	padding-bottom:22px;
	background-color: #1c1c1c;
}
.footer a{
	text-align:center;
	text-decoration:none;
}

.footer .container .space-bottom{
	margin-bottom: 20px;
}


/* !Spotify button */
.spotifybutton,
.spotifybutton:visited{
	width: 92px;
	height: 22px;
	border-radius: 10px;	
	background-color: #84bd00;
	-webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-ms-transition: all 0.12s ease-in-out;
	color: #fff;
	margin: 10px 0px 6px 0px;
}

.spotifybutton:hover{
	background-color: #9adb00;
}

.spotifybutton .buttontext{
	text-transform: uppercase;
	font-size: 11.8px;
	font-weight: bold!important;
	line-height: 0px;
	top:11px;
	right: 12px;
	position: relative;
	float:right;
}

.spotifybutton img{
	height: 15px;
	width: 15px;
	left: 4px;
	top: 3px;
	position: relative;
	float:left;
}

label{
	margin: 12px 0px 4px 0px;
}

.social-media-icons li{
	display: inline-block;
	margin: 10px 8px 0px 0px;
}

.social-media-icons a:hover{
	border-bottom:0px hidden #cfcfcf; 
}

.social-media-icons li img{
	height: 18px;
	width: 18px;
	-webkit-transition: all 0.12s ease-in-out;
	-moz-transition: all 0.12s ease-in-out;
	-o-transition: all 0.12s ease-in-out;
	-ms-transition: all 0.12s ease-in-out;

}

.social-media-icons li img:hover{
	transform: scale(1.1);
}


/* !font-styles */
.bold{
	font-weight:bold;
}

.italic{
	font-style:italic;
}

.center{
	text-align:center;
}

.sup{
	vertical-align: baseline;
	font-size: 0.8em;
	position: relative;
	top: -0.4em;
}



/* !Special styles for music (Spotify) links in text */
.link-playlist{
	color:#dfdfdc!important;
	text-decoration:none!important;	
	white-space: nowrap;
}
.link-playlist img{
	margin-bottom:-3px;
	padding-right:3px;
	position:relative;
}
.link-playlist a{
	color:#7cc011!important;
	text-decoration:none!important;	
	border-bottom: 0px solid #dfdfdc;
}
.link-playlist a:hover{
	color:#72b00f!important;
	text-decoration:none!important;	
	border-bottom: 1px solid #d6d6d6;
}
.link-playlist a:active{
	color:#639a0e!important;
	text-decoration:none!important;	
	border-bottom: 1px solid #d6d6d6;
}
.link-desc{
	font-size:12px;
	font-style:italic;
	line-height:16px; /* inspect */
}

.playlists a{
	font-size:18px; /* inspect */
}

.icon16{
	height: 16px;
	width: 16px;
}



/********** !Fade-in animation **********/

.container {
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari & Chrome */
    -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



/* !Modified Skeleton buttons (e.g subscribe button)
===================================================== */

	.half-top { margin-top: 6px !important; }
	.full-top { margin-top: 14px !important; }
	
	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: transparent; /* Old browsers */
		border: 1px solid #fff;
		padding: 4px 10px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		color: #fff;
		display: inline-block;
		font-size: 12px;
		font-weight:normal;
		text-decoration: none;
		text-shadow: 0 0px transparent;
		cursor: pointer;
		margin-bottom: 20px;
		line-height: normal;
		padding: 8px 10px;
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		
		-webkit-transition: all 0.12s ease-in-out;
		-moz-transition: all 0.12s ease-in-out;
		-o-transition: all 0.12s ease-in-out;
		-ms-transition: all 0.12s ease-in-out;
		outline: none;
		
		-webkit-appearance: none;
	}

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #fff; /* Old browsers */
		border: 1px solid #fff;
		outline: none;
		
		-webkit-appearance: none;
	}

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #fff; /* Old browsers */
		transform: scale(0.98);
		color: #222;
		outline: none!important;
		
		-webkit-appearance: none;
	}
